
.move{
  display: flex;
  align-items: center;
  color: #45304c;
  margin-left: 10em;
}

.nav{
  display: flex;
  gap: 10em;
  align-items: center;
}
.list ul{
  display: flex;
  list-style: none;
gap: 3em;
cursor: pointer;
}
.img1 {
  display: flex;
  gap: 3em;
  cursor: pointer;
}